<div class="card card-register mx-auto mt-5">
        <div class="card-header"><center>Add New item</center></div>
        <div class="card-body">
          <form name="myForm" ng-submit="send()" novalidate >

            <div class="form-group">
              <div class="form-row">
                <div class="col-md-12">
                  <label for="exampleInputName">Name</label>
                  <input class="form-control" id="name" name="name" ng-model="item.name" ng-class="{'is-invalid' : myForm.name.$dirty && myForm.name.$invalid && validate }" type="text" aria-describedby="nameHelp" required placeholder="Enter Here...">
                  <div class="invalid-feedback">Please fill this field.*</div>

                </div>
                
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Afilicate Link</label>
              <input class="form-control" id="link" ng-model="item.link" type="text" ng-class="{'is-invalid':myForm.link.$dirty && myForm.link.$invalid}" name="link" required aria-describedby="" placeholder="Enter Here...">
              <div class="invalid-feedback">Please fill this field.*</div>
            </div>
            <div class="form-group">
                    <label for="exampleInputEmail1">Rating</label>
                    <input class="form-control" id="number" name="number" ng-model="item.number" ng-class="{'is-invalid':myForm.number.$dirty && myForm.number.$invalid}" type="number"  aria-describedby="" required placeholder="Enter Here...">
                    <div class="invalid-feedback">Please fill this field.*</div>
                  </div>
                  <div class="form-group">
                    <label for="exampleSelect1">Select Main Category</label>
                    <select name="par_cate" required class="form-control" id="par_cate" ng-model="item.par_cate"  ng-options="cate.name as cate.name for cate in mainCates">
                        <!-- <option value="{{name.name}}" ng-show="name.name">{{name.name}}</option>  -->
                        <option value="">Select Main Category</option>
                    </select>
                    <span class="error" ng-show="myForm.par_cate.$dirty && myForm.par_cate.$invalid">Select service</span>
        
                  </div>

                  <div class="form-group">
                    <label for="exampleSelect1">Select Sub Category</label>
                    <select name="sub_cate" required class="form-control" id="sub_cate" ng-model="item.sub_cate"  ng-options="cate.name as cate.name for cate in subCates">
                        <!-- <option value="{{name.name}}" ng-show="name.name">{{name.name}}</option>  -->
                        <option value="">Select Sub Category</option>
                    </select>
                    <span class="error" ng-show="myForm.sub_cate.$dirty && myForm.sub_cate.$invalid">Select service</span>
        
                  </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-12">
                  <label for="exampleInputPassword1">Description</label>
                  <textarea rows="10" id="desc" name="desc" ng-model="item.desc" ng-class="{'is-invalid':myForm.desc.$dirty && myForm.desc.$invalid}" required class="form-control" id="exampleInputPassword1" ></textarea>
                  <div class="invalid-feedback">Please fill this field.*</div>
                </div>
                
              </div>
            </div>
            <div class="form-group inputDnD">
                     
              <label class="sr-only" for="inputFile">Image Upload(Optional)</label>
              <input type="file" file-input="files" class="form-control-file text-info font-weight-bold" id="inputFile" accept="image/*"  data-title="{{drag}}">
            </div>
            <!-- <a class="btn btn-primary btn-block" href="#">Add </a> -->

            <button class="btn btn-primary btn-block" type="submit">Add</button>         
  <a class="btn btn-danger btn-block" ui-sref="dashboard">Cancel</a>
          </form><br>
          <div class="alert alert-dismissible alert-success" ng-show="msg === '0'">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Well done!</strong> You successfully Added New Item
            </div>

        </div>
      </div>