

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Parent</th>
        <th scope="col">image</th>
        <th scope="col">Edit</th>
        <th scope="col">Remove</th>
        <th scope='col'>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="" ng-repeat="t in tabs">
        <th scope="row">{{$index}}</th>
        <td>{{t.name}}</td>
        <td>{{t.parent}}</td>
        <td><img class="img-fluid" height="100" width="100" ng-src="../img/{{t.image}}" alt="{{t.image}}" srcset=""></td>
                  
        <td><button class="btn btn-link" ng-click="up(t)"><i class="fa fa-fw fa-edit"></i></button></td>
        <td><button class="btn btn-link" ng-click="delete(t)"><i class="fa fa-fw fa-trash "></i></button></td>
        <td><button class="btn btn-link" ng-click="active(t)"><i class="fa fa-fw fa-eye " ng-class="{'act':t.status === 'deactive'}"></i></button></td>
      </tr>
     
      </tbody>
      </table>
<div class="card card-register mx-auto mt-5">
    <div class="card-header">Add New Sub-Category</div>
    <div class="card-body">
      <form name="myForm" ng-submit="addsub()">
        <div class="form-group " ng-class="{'has-danger' : myForm.menu.$dirty && myForm.menu.$invalid}">
          <div class="form-row">
            <div class="col-md-12">
              <label for="exampleInputName">Sub-Category Name :</label>
              <input class="form-control" ng-class="{'is-invalid' : myForm.menu.$dirty && myForm.menu.$invalid}" id="menu" name="menu" ng-model="menu"  required type="text" aria-describedby="nameHelp" placeholder="Ex:- Gadgets">
              <div class="invalid-feedback">Please fill this field.*</div>

            </div>
            
          </div>
        </div>
        <!-- <div class="form-group" ng-class="{'has-danger' : myForm.position.$dirty && myForm.position.$invalid}">
          <div class="form-row">
            <div class="col-md-12">
              <label for="exampleInputName">SubCategory Name :</label>
              <input class="form-control"  ng-class="{'is-invalid' : myForm.position.$dirty && myForm.position.$invalid}" id="position" name="position" ng-model="position"  required type="text" aria-describedby="nameHelp" placeholder="1,2">
              <div class="invalid-feedback">Please fill this field.*</div>
            </div>
            
          </div>
        </div> -->

        <div class="form-group">
            <label for="exampleSelect1">Select Parent Category</label>
            <select name="select_id" required class="form-control" id="select_id" ng-model="name" ng-change="change(name)" ng-options="cate.name as cate.name for cate in cates">
                <option value="{{name.name}}" ng-show="name.name">{{name.name}}</option> 
            </select>
            <span class="error" ng-show="myForm.service_id.$dirty && myForm.service_id.$invalid">Select service</span>

          </div>


        <!-- <div class="form-group">
          <label for="exampleInputFile">Upload Image(Optional)</label>
          <input type="file" class="form-control-file btn "  file-input="files" id="exampleInputFile" aria-describedby="fileHelp">
          <small id="fileHelp" class="form-text text-muted">.</small>
        </div> -->
        <div class="form-group inputDnD">
                     
          <label class="sr-only" for="inputFile">File Upload</label>
          <input type="file" file-input="files" class="form-control-file text-info font-weight-bold" id="inputFile" accept="image/*"  data-title="{{drag}}">
        </div>

        <input type="submit"  ng-show="!updateId"  class="btn btn-primary btn-block " ng-class="{'disabled' : myForm.menu.$invalid }" value="Add">
        
        <input type="submit"  ng-show="updateId" class="btn btn-info btn-block " ng-class="{'disabled' : myForm.menu.$invalid }" value="Update">
   

  <a class="btn btn-danger btn-block" ui-sref="dashboard">Cancel</a>
      </form>
      <br>
      <div class="alert alert-dismissible alert-success" ng-show="msg === '0'">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Well done!</strong> You successfully Added New Sub-Category.
      </div>

      <div class="alert alert-dismissible alert-danger" ng-show="msg === '1'">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> Please Try Again.
      </div>
      <div class="alert alert-dismissible alert-warning" ng-show="msg === 'Already Exists'">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">Aleart Category Exists. </p>
      </div>
    </div>
  </div>